<h2>All Files</h2>

<div class="file-actions">
  <a href="/files/upload" class="btn btn-primary">Upload New File</a>
</div>

<div class="files-grid">
  <% if(files && files.length > 0) { %> <% files.forEach(file => { %>
  <div class="file-card <%= getFileTypeClass(file.name) %>">
    <h4><%= file.name %></h4>
    <div class="file-meta">
      <span
        >Uploaded: <%= new Date(file.createdAt).toLocaleDateString() %></span
      >
      <% if(file.folder) { %>
      <br />
      <span
        >Folder:
        <a href="/folders/<%= file.folder.id %>"
          ><%= file.folder.name %></a
        ></span
      >
      <% } else { %>
      <br />
      <span>Not in a folder</span>
      <% } %>
    </div>
    <div class="file-actions">
      <a href="<%= file.url %>" target="_blank" class="btn">View</a>
      <a href="/files/<%= file.id %>/delete" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <% }) %> <% } else { %>
  <p>No files uploaded yet.</p>
  <% } %>
</div>
